<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>368065989451-pna5tsava3jjl1aobd5idsc2ln8og12t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.368065989451-pna5tsava3jjl1aobd5idsc2ln8og12t</string>
	<key>API_KEY</key>
	<string>AIzaSyD-Q2U80ivMr3sqH0GTx6cn6TwAmFM6DdY</string>
	<key>GCM_SENDER_ID</key>
	<string>368065989451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.droidkaigi2018</string>
	<key>PROJECT_ID</key>
	<string>droidkaigi2018-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>droidkaigi2018-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:368065989451:ios:d1c2208cbac18e3e</string>
	<key>DATABASE_URL</key>
	<string>https://droidkaigi2018-flutter.firebaseio.com</string>
</dict>
</plist>